final_android/final_android/Web References/net.azurewebsites.wsnutricion/wsDieta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="consultaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaUsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaProgreso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaProgresoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaProgresoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreusuario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="peso" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="altura" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sexo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="frecuencia" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="tmb" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="imc" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="edad" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="kxp" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="corporal" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarUsuarioResponse">
        <s:complexType />
      </s:element>
      <s:element name="insertarProgreso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="progreso_peso" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="progreso_imc" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarProgresoResponse">
        <s:complexType />
      </s:element>
      <s:element name="calculoIMC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="peso" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="altura" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculoIMCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="calculoIMCResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculoTMB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sexo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="altura" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="peso" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="frecuencia" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="edad" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="kxp" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculoTMBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="calculoTMBResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculoIdeal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="altura" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sexo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculoIdealResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="calculoIdealResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculoCompCorporal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="imc" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculoCompCorporalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="calculoCompCorporalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculoDieta_plan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tmb_dieta" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calculoDieta_planResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="calculoDieta_planResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="consultaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:consultaUsuario" />
  </wsdl:message>
  <wsdl:message name="consultaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:consultaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="consultaProgresoSoapIn">
    <wsdl:part name="parameters" element="tns:consultaProgreso" />
  </wsdl:message>
  <wsdl:message name="consultaProgresoSoapOut">
    <wsdl:part name="parameters" element="tns:consultaProgresoResponse" />
  </wsdl:message>
  <wsdl:message name="insertarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:insertarUsuario" />
  </wsdl:message>
  <wsdl:message name="insertarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:insertarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="insertarProgresoSoapIn">
    <wsdl:part name="parameters" element="tns:insertarProgreso" />
  </wsdl:message>
  <wsdl:message name="insertarProgresoSoapOut">
    <wsdl:part name="parameters" element="tns:insertarProgresoResponse" />
  </wsdl:message>
  <wsdl:message name="calculoIMCSoapIn">
    <wsdl:part name="parameters" element="tns:calculoIMC" />
  </wsdl:message>
  <wsdl:message name="calculoIMCSoapOut">
    <wsdl:part name="parameters" element="tns:calculoIMCResponse" />
  </wsdl:message>
  <wsdl:message name="calculoTMBSoapIn">
    <wsdl:part name="parameters" element="tns:calculoTMB" />
  </wsdl:message>
  <wsdl:message name="calculoTMBSoapOut">
    <wsdl:part name="parameters" element="tns:calculoTMBResponse" />
  </wsdl:message>
  <wsdl:message name="calculoIdealSoapIn">
    <wsdl:part name="parameters" element="tns:calculoIdeal" />
  </wsdl:message>
  <wsdl:message name="calculoIdealSoapOut">
    <wsdl:part name="parameters" element="tns:calculoIdealResponse" />
  </wsdl:message>
  <wsdl:message name="calculoCompCorporalSoapIn">
    <wsdl:part name="parameters" element="tns:calculoCompCorporal" />
  </wsdl:message>
  <wsdl:message name="calculoCompCorporalSoapOut">
    <wsdl:part name="parameters" element="tns:calculoCompCorporalResponse" />
  </wsdl:message>
  <wsdl:message name="calculoDieta_planSoapIn">
    <wsdl:part name="parameters" element="tns:calculoDieta_plan" />
  </wsdl:message>
  <wsdl:message name="calculoDieta_planSoapOut">
    <wsdl:part name="parameters" element="tns:calculoDieta_planResponse" />
  </wsdl:message>
  <wsdl:portType name="wsDietaSoap">
    <wsdl:operation name="consultaUsuario">
      <wsdl:input message="tns:consultaUsuarioSoapIn" />
      <wsdl:output message="tns:consultaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaProgreso">
      <wsdl:input message="tns:consultaProgresoSoapIn" />
      <wsdl:output message="tns:consultaProgresoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <wsdl:input message="tns:insertarUsuarioSoapIn" />
      <wsdl:output message="tns:insertarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarProgreso">
      <wsdl:input message="tns:insertarProgresoSoapIn" />
      <wsdl:output message="tns:insertarProgresoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="calculoIMC">
      <wsdl:input message="tns:calculoIMCSoapIn" />
      <wsdl:output message="tns:calculoIMCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="calculoTMB">
      <wsdl:input message="tns:calculoTMBSoapIn" />
      <wsdl:output message="tns:calculoTMBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="calculoIdeal">
      <wsdl:input message="tns:calculoIdealSoapIn" />
      <wsdl:output message="tns:calculoIdealSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="calculoCompCorporal">
      <wsdl:input message="tns:calculoCompCorporalSoapIn" />
      <wsdl:output message="tns:calculoCompCorporalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="calculoDieta_plan">
      <wsdl:input message="tns:calculoDieta_planSoapIn" />
      <wsdl:output message="tns:calculoDieta_planSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsDietaSoap" type="tns:wsDietaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultaUsuario">
      <soap:operation soapAction="http://tempuri.org/consultaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaProgreso">
      <soap:operation soapAction="http://tempuri.org/consultaProgreso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <soap:operation soapAction="http://tempuri.org/insertarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarProgreso">
      <soap:operation soapAction="http://tempuri.org/insertarProgreso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculoIMC">
      <soap:operation soapAction="http://tempuri.org/calculoIMC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculoTMB">
      <soap:operation soapAction="http://tempuri.org/calculoTMB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculoIdeal">
      <soap:operation soapAction="http://tempuri.org/calculoIdeal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculoCompCorporal">
      <soap:operation soapAction="http://tempuri.org/calculoCompCorporal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculoDieta_plan">
      <soap:operation soapAction="http://tempuri.org/calculoDieta_plan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsDietaSoap12" type="tns:wsDietaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultaUsuario">
      <soap12:operation soapAction="http://tempuri.org/consultaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaProgreso">
      <soap12:operation soapAction="http://tempuri.org/consultaProgreso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <soap12:operation soapAction="http://tempuri.org/insertarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarProgreso">
      <soap12:operation soapAction="http://tempuri.org/insertarProgreso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculoIMC">
      <soap12:operation soapAction="http://tempuri.org/calculoIMC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculoTMB">
      <soap12:operation soapAction="http://tempuri.org/calculoTMB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculoIdeal">
      <soap12:operation soapAction="http://tempuri.org/calculoIdeal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculoCompCorporal">
      <soap12:operation soapAction="http://tempuri.org/calculoCompCorporal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculoDieta_plan">
      <soap12:operation soapAction="http://tempuri.org/calculoDieta_plan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsDieta">
    <wsdl:port name="wsDietaSoap" binding="tns:wsDietaSoap">
      <soap:address location="http://wsnutricion.azurewebsites.net/wsDieta.asmx" />
    </wsdl:port>
    <wsdl:port name="wsDietaSoap12" binding="tns:wsDietaSoap12">
      <soap12:address location="http://wsnutricion.azurewebsites.net/wsDieta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>